<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>This is Home Page</title>
</head>

<body>
	<section class ="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<p>Start Collecting Your Contact In Very Smart Way.
				We Provide Very Efficent And 
				Smarter Way Of Handling Contacts</p>
			<button clas="btn btn-primary btn-lg">Get-Started</button>
		</div>
	</section>
</body>

</html>